[submodule "intel-gpu-i915-backports"]
	path = intel-gpu-i915-backports
	url = https://github.com/jelyoussefi/intel-gpu-i915-backports
	branch = suse/main

[submodule "test"]
	path = test
	url = https://github.com/jelyoussefi/memory_eviction_testing
	branch = main

[submodule "gpu_system_memory_monitoring"]
	path = gpu_system_memory_monitoring
	url = https://github.com/jelyoussefi/gpu_system_memory_monitoring
	branch = main
